@import url('https://fonts.googleapis.com/css2?family=Poppins+Siliguri:wght@200&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color: 	black;
    --secondary-color: black;
}

body {
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
  
}

#trailer h1{
    color: #fff;
    
}

.search{
    background-color: transparent;
    border: 2px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: var(--secondary-color);
    font-family: inherit;
}

.search:focus{
    outline: 0;
    background-color: white;
}

.search::placeholder{
    color: gainsboro;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    width: 300px;
    margin: 1rem;
    
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgb(255, 0, 0);
    background-color: var(--secondary-color);
    /* BUL EKOOSUN ZHANY PROJEGE KOSHPODUM ASTYNDAGY */
    position: relative;
    overflow: hidden;
}
/* extra add */
.movie-card img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;

}

.movie-info h3{
    margin-top: 0;
}

.movie-card span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}


.overview{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateX(-101%);
    transition: 0.3s ease-in;
}

.movie-card:hover .overview{
    transform: translateX(0);
}

